<div>
    <div class="header">
        <h2>Tetris App - Game Page</h2>
    </div>
    <!-- tu był tetris-core -->

    <div class="inside">
        <tetris-core #game (lineCleared)="lineCleared()" (gameOver)="gameOver()">
        </tetris-core>


        <h4>Hello {{player.name}}. </h4>
        <h4>Your email: {{player.email}}</h4>
        <h5>Welcome to the game. See instructions below!</h5>

        <div class="scoretime">
            <p>Your score: {{points}} points</p>
            <p>Play time: {{time}}</p>
            <h3><b>{{status}}</b></h3>
            <button (click)="gameStart()">Start</button>
            <button (click)="gameStop()">Stop</button>
            <button (click)="gameReset()">Reset game</button>
            <button (click)="gameExit()">Exit game</button>
        </div>
        <div class="info">
            <p><b>Game instruction:</b></p>
            <p>W - rotate block</p>
            <p>A - left</p>
            <p>D - rght</p>
            <p>S - down</p>
        </div>

    </div>
</div>