/* You can add global styles to this file, and also import other style files */

tetris-core.black-and-white tile {
    background: white;
}
tetris-core.black-and-white tile.color-box {
    background: #000;
}
tetris-core.black-and-white tile.color-dot {
    background: #000;
}
tetris-core.black-and-white tile.color-line {
    background: #000;
}
tetris-core.black-and-white tile.color-t {
    background: #000;
}
tetris-core.black-and-white tile.color-l {
    background: #000;
}
tetris-core.black-and-white tile.color-lr {
    background: #000;
}
tetris-core.black-and-white tile.color-z {
    background: #000;
}
tetris-core.black-and-white tile.color-s {
    background: #000;
}

