<div>
    <div class="header">
        <h2>Tetris App - Intro Page</h2>
        <h4>Welcome to game!</h4>
    </div>

    <div class="form">
        <form #playerForm="ngForm">
            <div class="form-input">
                <label for="name">Player name:</label>
                <input ngModel #name="ngModel" id="name" name="name" type="text" required minlength="2" required />
                <div *ngIf="name.touched && name.invalid">
                    <div *ngIf="name.errors.required">
                        WARNING! Your name is required.
                    </div>
                    <div *ngIf="name.errors.minlength">
                        WARNING! Minimum {{name.errors.minlength.requiredLength}} characters.
                    </div>
                </div>

            </div>
            <div class="form-input">
                <label for="email">Player email:</label>
                <input ngModel #email="ngModel" id="email" name="email" type="text" required email="true" required
                    monkey="@" />
            </div>

            <button (click)="start(playerForm.form)">START GAME</button>
        </form>
    </div>

</div>