<div *ngIf="true" class="main">
    <div class="header">
        <h2>Tetris App - Intro Page</h2>
        <h4>Welcome! Enter the data and press the button to play!</h4>
    </div>

    <div class="form">
        <form [formGroup]="formVerify" (submit)="startGame(formVerify)">
            <div class="name">
                <label for="name">Player name:</label>
                <input formControlName="name" type="text" name="name" />
                <p *ngIf="formVerify.controls.name.touched && !formVerify.controls.name.valid" style="color: #ff3333;">
                    Name
                    is required.
                    Minimum 5 characters.</p>
            </div>

            <div class="token">
                <label for="token">Player token:</label>
                <input formControlName="token" type="text" name="token" />
                <p *ngIf="formVerify.controls.token.touched && !formVerify.controls.token.valid"
                    style="color: #ff3333;">Token is required.
                    Minimum 4 numbers.</p>
            </div>
            <div class="color">
                <label class="color">Select color: </label>
                <select formControlName="color" class="color" name="availableColors">
                    <option value="normal">NORMAL</option>
                    <option value="highcontrast">HIGH CONTRAST</option>
                </select>
            </div>
            <button [disabled]="!formVerify.valid">Start Game</button>
        </form>

    </div>
</div>