<div class="ranking">
    <div class="sort-score">
        <b><label class="sort">Filter list </label></b>
        <select class="sort" [(ngModel)]="howSort" [(ngModel)]="maxPlayers">
            <option value="asc">Min score</option>
            <option value="desc">Max score</option>
        </select>
    </div>
    <p><b>Player list</b></p>
    <div class="ranking-list">

        <li *ngFor="let player of players | sortScore: 'score':howSort:maxPlayers">
            <p>{{player.name}} | {{player.score}}</p>
        </li>

    </div>
</div>